body {
    background-color:rgb(248, 241, 241);
    font-family :Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}
p {
    font-size: ;
}

#logo {
    margin: 0px;
    padding: 10px;
    font-family:cursive, sans-serifs;
    width: 17%;
    border-radius:60%;
    text-shadow: rgb(184, 3, 63) 1px 0 10px;
}
cite > a {
    display: inline-block;
    width: 100 px;
    height: 50 px;
}

ul{
    margin: 0px;
}
body {
    font-family:Arial, Helvetica, sans-serif  ;
}
body > header {
    background-color: #ddb1bb;
    color: white;
    display: flex;
    height:12vh;
    align-items: center;
    justify-content: space-around;
   
}
#nav-ul {
    display:flex;

}
#nav-ul {
    padding: 10px;
    margin: 16px;
}
#main-header {

}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    
}
body> main article {
    width: 70%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}
#main-content > div{
    width: 80%;
}
#main-content aside {
    width:30%;
    padding-left: 8px;
}
form {
    text-align: center;
}
body > footer {
    background-color: rgb(240, 194, 224) ;
    display: flex;
 
}
#main-header{
    background-color: rgb(240, 194, 224);
}
img {
    border-radius: 100%;
}
#footer-ul{
    display: flex;
    list-style: none;

}
#footer-ul{
    margin-left: 12px;
    color: white ;
    text-decoration: none;
}
#footer-ul> div > li > a {
    color: white ;
    text-decoration: none;
}